<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="https://github.com/mwjcomputing"><h2 class="header-link">Github</h2></a>
<a href="https://linkedin.com/in/mwjcomputing"><h2 class="header-link">LinkedIn</h2></a>
<a href="https://github.com/mwjcomputing"><h2 class="header-link">Github</h2></a>
<a href="https://gitlab.com/mwjcomputing"><h2 class="header-link">Gitlab</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>